* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_30 {
  width: 412px;
  height: 892px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_33 {
  width: 412px;
  height: 812px;
  background: rgba(159,232,112,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
